[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
    update = merge
[submodule "zsh/plugins/zsh-synax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
    update = merge
[submodule "nvim"]
	path = nvim
	url = https://github.com/JManch/nvim
    update = merge
